- require 'cgi'
<!doctype html>
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "description", :content => "" }
    %meta{ :name => "keywords", :content => "" }
    %link{ :href => "favicon.ico", :rel => "shortcut icon", :type => "image/x-icon" }
    %title
      descertificador
    %link{ :href => "/css/descertificado.css", :rel => "stylesheet", :type => "text/css", :media => "screen, print" }

  %body
    #certificate
      #content
        %div.complement
          descertificado de
        %h1
          = certificados

        %div.complement
          concedido a

        %h2
          = nome

        %p
          Por desempenho excepcional e contribuição permanente à comunidade XGH

        %p#date
          Gambiarralândia,
          = data

        %div#signature
          = nome
    %script{ :src => "/javascripts/analytics-one.js"}

